{% extends 'base.html' %}

{% block content %}

<div id="divide" style="width:100%;margin-top:40px;float:left;"></div>

	{% for image, project in all_projects %}
		{% for x in "XXX" %}
		<div id="profile-card" style="margin-top:50px;margin-left:15%; padding:5px; border:1px solid black; float:left;width:70%;">
			<div style="float:left;margin-right:15px;border:1px solid white;">
				<img src="{{ image.image.url }}" alt="{{image.project}}" style="width:200px;" />
			</div>
			<div id="project_content">
				<h1 style="color:white;border-bottom:1px solid white;margin-left:10%;padding-bottom:10px;">{{project.name}}</h1>
				<p style="float:left;color:white;">
					{{project.description}}
				</p>
			</div>
		</div>
		</br>
	{% endfor %}
	{% endfor %}

{% endblock content %}

