{% extends 'base.html' %}

{% block content %}

<div style="position:absolute; padding:0 px; margin-left: 10%; margin-top:5%;height:100%; width:80%"><!-- style="background-image: url(https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/164270_686678698016267_755625951_n.png);"> -->
<div>
	<img src="{{ MEDIA_URL }}dev_images/myface.jpeg" style="float:left; width:200px; margin-right:25px;"/>
	<div style="float:left;">
	<h1 style="color:black;margin-top:5%;margin-bottom:-10px;border-bottom:solid 1px;">Dusitn Waldron</h1>
	<h3 style="color:black; margin-top:10px;margin-bottom:-10px;">Bachelor of Science Computer Science/Systems 2015</h3>
	<h3 style="color:black;margin-top:-10px;margin-bottom:-10px;">Software Studio Concentration</h3>
	<h3 style="color:black; margin-top:-10px;">Minor in Mathematics</h3>
	</div>
<div>
<br>
<div style="color:black;float:left;">
	<h2 style="color:white;padding-left:5px;border-bottom:solid 1px;" id="body-panel"> About Me </h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quam magna, lobortis quis ultricies at, posuere in est. Suspendisse faucibus laoreet augue, bibendum interdum elit lobortis vel. Aenean interdum leo dolor, sit amet adipiscing eros vehicula sit amet. Praesent sodales commodo lacinia. Quisque in convallis orci. Sed quis auctor nunc. Etiam elit tellus, consectetur at auctor eget, vestibulum eget magna.

Nam aliquam dapibus nisl a volutpat. Integer sagittis eros nec ante dictum hendrerit. Maecenas in fringilla metus. Vivamus sollicitudin, nibh eget malesuada cursus, quam neque ultricies lacus, a porttitor sapien dolor non massa. Donec pharetra, ipsum id lacinia molestie, lorem urna feugiat quam, at imperdiet justo lorem nec urna. Nunc arcu turpis, malesuada ac mi at, ultricies mollis enim. Vestibulum facilisis cursus ante a imperdiet. Suspendisse nisi lorem, commodo eu ligula vel, convallis posuere mauris. Pellentesque id varius magna, quis hendrerit nunc. Fusce id felis vehicula, egestas mi sit amet, bibendum leo. Nullam laoreet in orci id lacinia. Sed auctor sit amet quam eget iaculis. Phasellus quis aliquet est. Sed pharetra magna diam. Phasellus ullamcorper, ipsum nec sodales suscipit, leo nisi aliquam eros, sit amet ultricies nibh augue eget purus.

Suspendisse sit amet rutrum elit. Aenean sit amet aliquet diam, at malesuada libero. Fusce sit amet rutrum nisl, vel lobortis risus. Fusce dui arcu, hendrerit sed elementum at, dictum vel neque. Integer gravida lacus a cursus cursus. Ut interdum, neque viverra ornare fermentum, lacus ante interdum lorem, quis tincidunt orci tellus eu ligula. Sed eget consectetur est. Suspendisse ipsum nisl, fringilla sed convallis nec, eleifend et sapien. Etiam vel orci eget purus gravida venenatis. Ut ullamcorper turpis lectus, nec sagittis augue eleifend vitae. Vestibulum quis auctor magna. Nullam massa mauris, gravida id rutrum in, vehicula laoreet magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ultrices sagittis vestibulum. Vivamus tempor eros ut ligula malesuada, vel pharetra nisl dapibus. Donec lorem arcu, tempus ullamcorper mauris vel, tincidunt pulvinar augue.

Vivamus placerat ipsum ac ante venenatis blandit. Sed sit amet magna velit. Donec volutpat mauris ut elit cursus, non tincidunt massa elementum. Cras aliquet mauris sed dolor sagittis condimentum. Phasellus nec metus ac arcu lacinia molestie nec quis ipsum. In non urna eleifend, fringilla neque vitae, commodo magna. Duis ut imperdiet leo. Fusce commodo in massa sit amet tincidunt. Aenean facilisis nunc felis, eget ultrices enim cursus id. Sed egestas mi vitae leo luctus tempus. Pellentesque et ultrices tortor. Sed felis massa, tempus ut tellus ac, euismod tincidunt diam. Sed sit amet eleifend nulla. In pretium auctor odio.

Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec suscipit quis nisi eu ultricies. Nulla at orci vitae tortor tincidunt tempor. Vestibulum rutrum libero in purus laoreet pretium. Aenean sed lorem justo. Suspendisse potenti. Curabitur eget tempor lorem. Aliquam non tellus feugiat, iaculis metus id, pulvinar turpis. Aliquam at metus lectus. Pellentesque diam justo, adipiscing sed dignissim ac, ultrices id justo. Vivamus viverra faucibus urna a tristique. Praesent quis suscipit ante. Vivamus et sodales velit, eu semper magna.</p>
</div>

</div>

{% endblock content %}