{% extends 'base.html' %}

{% block content %}

<div id="divide" style="margin-top:40px;"></div>
<div style="padding:0 px; margin-left: 100px; margin-top:100px; height=100%;"><!-- style="background-image: url(http://www.valorma.biz/pcb1.jpg);"> -->
	<h1 style="color:black;margin-bottom: 20px;">Welcome to Dustin Waldron's Web Page</h1>

	<h2 style="font-weight:bold; margin-bottom: 20px;">The Web Portfolio of Dustin's Professional Skills</h2>

	<button class= "btn btn-large btn"><a href="/profile/">Check Out My Profile</a></button>
</div>

{% endblock content %}